<?xml version="1.0" encoding="utf-8"?>
<!-- https://github.com/NLog/NLog/wiki/Getting-started-with-ASP.NET-Core-6 -->
<!-- https://nlog-project.org/config/?tab=layout-renderers -->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="Off"
    internalLogFile="${basedir}/internal-nlog.txt"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ">

    <!-- 使用アセンブリ -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- 共通のJSONレイアウト -->
    <variable name="jsonLayout">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${uppercase:${level}}" />
            <attribute name="machine" layout="${machinename}" />
            <attribute name="message" layout="${message}" escapeUnicode="false" />
            <attribute name="logger" layout="${logger}" />
            <attribute name="detail" encode="false">
                <layout xsi:type="JsonLayout"
                    includeAllProperties="true"
                    maxRecursionLimit="2"
                    renderEmptyObject="false" />
            </attribute>
        </layout>
    </variable>

    <!-- 出力先の定義 -->
    <targets>
        <target name="jsonlFile"
            xsi:type="File"
            fileName="./logs/log.jsonl"
            archiveEvery="Day"
            archiveFileName="./logs/log-archive-${shortdate}.jsonl"
            maxArchiveFiles="31"
            encoding="utf-8"
            layout="${jsonLayout}">
        </target>
    </targets>

    <!-- ログ出力ルール -->
    <rules>
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="jsonlFile" final="true" />

        <!-- EF Coreのログは切り捨てる -->
        <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Error" final="true" />

        <!-- Microsoftのログは切り捨てる -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Trace" writeTo="jsonlFile" />
    </rules>
</nlog>